.wrapper_cities {
    width: 100%;
    height: auto;
    background: white;
    padding: 64px 0px;

    .inner_wrapper_cities {
        width: 1200px; left: calc(50% - 600px);
        position: relative;

        @media only screen and (max-width: 1200px){
            left: 40px; width: calc(100% - 80px);
        }
        @media only screen and (max-width: 1000px){
            left: 20px; width: calc(100% - 40px);
        }

        .cities_headings {
            position: relative;
            display: flex;
            gap: 0px;
            flex-direction: column;
            align-items: center;

            h1 {
                color: #373f47;
                font-family: 'lora', sans-serif;
                font-weight: normal; font-size: 40px;
                margin:0px;
            }
            p{
                color: #616f7d;
                font-size: 16px;
                margin-top: 16px;
            }
        }

        .cities_wrap_info {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-top: 32px;
            gap: 10px;

            @media only screen and (max-width: 1000px){
                flex-wrap: wrap;
            }

            .cities_box {
                position: relative;
                width: calc(25% - 24px);
                height: 274px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                @media only screen and (max-width: 1000px){
                    width: calc(50% - 16px); gap: 32px;
                }

                .cities_box_img {
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: auto;
                    min-height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .box1 {
                    background: url('../../../../files/images/default/bihac.jpg');
                }
                .box2 {
                    background: url('../../../../files/images/default/cazin3 (1).jpg');
                }
                .box3 {
                    background: url('../../../../files/images/default/velika_kladusa1.jpg');
                }
                .box4 {
                    background: url('../../../../files/images/default/buzim3.jpg');
                }

                .cities_box_text {
                    height: 160px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding: 24px;

                    .inner_text_wrapper {
                        position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;
                        display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
                        background: rgba(0,0,0,0.3); transition: 0.2s all;

                        h4 {
                            color: white; width: 100%;
                            font-family: 'lora', sans-serif; font-size: 24px; margin: 0px;
                        }
                        p {
                            color: white;
                            font-size: 16px;
                            font-family: "Inter", sans-serif; font-weight: 200; text-transform: uppercase; margin-top: 8px;
                        }
                    }
                    .inner_text_wrapper:hover {
                        //display: none;
                    }
                }

            }

            .cities_box:hover{
                .cities_box_text{
                    .inner_text_wrapper{
                        background: rgba(0,0,0,0.05);
                    }
                }
            }
        }
    }
}
