.featured_properties_wrapper {
    width: 100%;
    background: white;
    padding: 64px 0px;

    .inner_featured_properties_wrapper {
        width: 1200px; left: calc(50% - 600px);
        position: relative;
        background: white;
        .featured_properties_text {
            position: relative;
            display: flex;
            gap: 0px;
            flex-direction: column;
            align-items: center;

            h1 {
                color: #373f47;
                font-family: 'lora', sans-serif;
                font-weight: normal; font-size: 40px;
                margin: 0px;
            }
            p{
                color: #616f7d;
                font-size: 16px; margin-top: 16px;
            }
        }

        /**
         *  All featured properties; Slideshow
         */
        .featured_properties_w {
            display: flex; margin-top: 32px;
            .swiper{
                padding-bottom: 32px;
                .swiper-wrapper{
                    .swiper-slide{
                        @import "../properties/includes/single__estate";

                        .single_estate{
                            border: 1px solid rgba(0,0,0,0.1); margin-right: 0px; width: calc(100% - 2px); gap: 0px; min-height: 360px; height: 100%;
                            .image_wrapper{
                                height: 260px;
                                .image_cover{
                                    .top_buttons{
                                        .top_buttons_w{
                                            gap: 8px;
                                        }
                                    }
                                }
                            }
                            .text_wrapper{
                                a{
                                    .main_text_w{
                                        h4{
                                            font-family: 'Lora', sans-serif; font-size: 18px; font-weight: 200;
                                        }
                                        p{
                                            font-family: 'Inter', sans-serif; font-size: 14px; color: grey;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
                .swiper-pagination{
                    bottom: 0px;
                    .swiper-pagination-bullet{
                        background: #333333; margin: 0px 8px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1400px){
        .inner_featured_properties_wrapper{
            left: 40px; width: calc(100% - 80px);

        }
    }
    @media only screen and (max-width: 1000px){
        .inner_featured_properties_wrapper{
            left: 20px; width: calc(100% - 40px);
        }
    }
    @media only screen and (max-width: 800px){
        .inner_featured_properties_wrapper {
            .featured_properties_text {
                flex-wrap: wrap;

                h1 {
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                }
            }
            .featured_properties {
                width: 100%;
            }
            }
        }
    }
