.featured_properties_wrapper {
    width: 100%;
    height: auto;
    background: white;


    .inner_featured_properties_wrapper {
        width: 1200px; left: calc(50% - 600px);
        position: relative;
        background: white;
        .featured_properties_text {
            position: relative;
            display: flex;
            gap: 0px;
            flex-direction: column;
            align-items: center;
            padding: 32px 0px;

            h1 {
                color: #373f47;
                font-family: 'lora', sans-serif;
                font-weight: normal; font-size: 40px;
            }
            p{
                color: #616f7d;
                font-size: 16px;
            }
        }

        .featured_properties {

        }
    }

    @media only screen and (max-width: 1400px){
        .inner_featured_properties_wrapper{
            left: 40px; width: calc(100% - 80px);

        }
    }
    @media only screen and (max-width: 1000px){
        .inner_featured_properties_wrapper{
            left: 20px; width: calc(100% - 40px);
        }
    }
    @media only screen and (max-width: 800px){
        .inner_featured_properties_wrapper {
            .featured_properties_text {
                flex-wrap: wrap;

                h1 {
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                }
            }
            .featured_properties {
                width: 100%;
            }
            }
        }
    }
