.properties__wrapper{
    position: relative; width: 100%; background: #F7F8F9; margin-bottom: 64px;
    @media only screen and (max-width: 800px){
        margin-bottom: 4px;
    }
    .properties__inner_w{
        position: relative; left: calc(50% - $container-half); width: $container-width; min-height: 120px; gap: 32px;
        display: flex; justify-content: space-between;

        @media only screen and (max-width: 1400px){
            left: 40px; width: calc(100% - 80px);
        }
        @media only screen and (max-width: 800px){
            left: 20px; width: calc(100% - 40px);
            flex-wrap: wrap; margin-top: 20px; gap: 20px;
        }

        .all_properties{
            width: calc(100% - 374px); display: flex; flex-wrap: wrap; gap: 32px; justify-content: space-between;  align-content: flex-start;
            @media only screen and (max-width: 1000px){
                width: calc(100% - 324px);
            }
            @media only screen and (max-width: 800px){
                width: 100%; gap: 20px;
            }
            @import "includes/single__estate";
        }
        @import "right-side";
    }
}
@import "single";
