.contact_us_wrapper {
    position: relative;
    width: 100%;

    .contact_us_inner_wrapper {
        position: relative;
        left: calc(50% - $container-half); width: $container-width; min-height: 200px; background: red;
        gap: 32px; display: flex; padding: 32px 0px; flex-wrap: wrap;

        .cu_i_w_form{
            position: relative; width: 100%; display: flex; justify-content: space-between; gap: 32px;

            .cu_i_w_left{
                width: calc(100% - 354px); background: grey; min-height: 200px;
            }
            .cu_i_w_right{
                width: 320px; background: grey;
            }
        }

        .cu_i_w_map{
            position: relative; width: 100%; height: 300px; background: green;
        }
    }
}
