.login_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .large_login_wrapper {
        border: solid;
        margin: 32px;
        padding: 32px;

        .inner_login_wrapper {
            h2 {
                color: #373f47;
                font-family: 'lora', sans-serif;
                font-weight: normal; font-size: 30px;
            }
        }
        .access_login_form {
            .style_input {
                width: 450px;
                height: 40px;
                border: solid;
                border-color: lightgray;
                box-shadow: inset 0 0 7px #909091;
                outline: none;
            }
            #inputdefault {
                margin-bottom: 20px;
            }
            .access_form_1 {
                margin-top: 50px;
                display: inline-flex;
                justify-content: space-between;
                width: 450px;
                align-items: center;

                .forgot_pass_question {
                    font-weight: lighter;
                    text-decoration: none;
                    color: black;
                }
                p{
                    color: #616f7d;
                    font-size: 16px;
                }
                .style_submit {
                    background-color: #01C0CF;
                    width: 210px;
                    height: auto;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    box-shadow: -16px 37px 5px -32px rgba(255,255,255,0.72) inset;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: bold;
                    transition: background-color;
                }
            }
            .style_submit:hover {
                background-color: #0178B3;
            }
        }
    }


}


